:root {
  --red: #f44336;
  --muted: #606060;
  --kahverengi: #8B4513;
  --basari: #8bc34a;
  --uyari: #ffc107;
  --mavi: #2577b1;
  --mavik: #185886;
  --beyaz: #fff;
  --header: #4C578D;
  --nav: #D9D9D9;
  --body: #FAFAFA;
  --theme-bg-color: rgb(255,255,255,31%);
  --container-s: 450px;
  --container-m: 650px;
  --container-l: 850px;
  --container: 1000px;
  --height-xs: 24px;
  --height-s: 32px;
  --height-m: 48px;
  --height: 60px;
  --padding-s: 7px;
  --padding: 10px;
  --padding-m: 20px;
  --padding-l: 30px;
}

body {
  cursor: default;
  background: var(--body);
}

body ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

body a {
  text-decoration: none;
}

body section ~ section {
  margin-top: 20px;
}

.domain-ekle {
  cursor: pointer !important;
}

.container {
  position: relative;
  max-width: var(--container);
  margin: auto;
}

#alert.alert-box {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: var(--padding-m);
  min-height: 60px;
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 4px;
  color: white;
}

#alert.alert-box.alert-box-danger {
  background-color: var(--red);
}

#alert.alert-box.alert-box-success {
  background-color: var(--basari);
}

header {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: var(--header);
  border-top: 2px solid #7A86B8;
}

header::after {
  content: '';
  display: block;
  height: 40px;
  width: 100%;
  background-color: var(--body);
}

header .p-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  margin-right: 10px;
}

header .p-header .p-logo a {
  color: white;
}

header .p-header .p-logo a :hover {
  color: whitesmoke;
}

header .p-header .p-user {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  gap: 5px;
  height: 100%;
  font-size: small;
}

header .p-header .p-user a {
  color: white;
}

header .p-header .p-user a :hover {
  color: whitesmoke;
}

header .p-header .p-user .logout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .p-header .p-user .logout span {
  font-size: small;
}

header nav {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  width: 100%;
  background-color: var(--nav);
  margin-bottom: -20px;
  border-radius: 4px;
  padding: 0 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .m-menu {
  display: none;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

header nav ul li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  color: var(--header);
  font-weight: bold;
}

header nav ul li.guncelle, header nav ul li.domain-ekle {
  cursor: pointer;
}

header nav ul li a {
  color: var(--header);
}

header nav ul li:hover {
  -webkit-box-shadow: inset 0px -2px 0px var(--header);
          box-shadow: inset 0px -2px 0px var(--header);
}

header nav #adminmode {
  cursor: pointer;
  color: var(--header);
  font-size: 18px;
}

main {
  min-height: 100vh;
  height: 100%;
}

main #info-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
}

main #info-box .box {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 55px;
  height: 148px;
  width: 100%;
  background-color: #4b636e;
}

main #info-box .box .box-counter {
  font-size: 48px;
}

main #info-box .box.success {
  background-color: var(--basari);
}

main #info-box .box.danger {
  background-color: var(--red);
}

main #info-box .box.warring {
  background-color: var(--uyari);
}

main #info-box .box span {
  font-size: small;
  font-weight: bolder;
  text-align: center;
}

main #domain-box {
  margin-bottom: 60px;
}

main #domain-box .box {
  background-color: var(--beyaz);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 48px;
  height: 100%;
  padding: 0 10px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-top-color: #dfdfdf;
  border-right-color: #d8d8d8;
  border-bottom-color: #cbcbcb;
  border-left: solid 3px #4b636e;
}

main #domain-box .box.success {
  border-left: solid 3px var(--basari);
}

main #domain-box .box.danger {
  border-left: solid 3px var(--red);
}

main #domain-box .box.warring {
  border-left: solid 3px var(--uyari);
}

main #domain-box .box div {
  font-size: 18px;
}

main #domain-box .box ~ .box {
  margin-top: 10px;
}

main #domain-box .box .box-header {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  min-height: 48px;
  height: 100%;
}

main #domain-box .box .box-info {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  font-size: smaller;
}

main #domain-box .box .box-info .box-info-body {
  cursor: default;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

main #domain-box .box .box-info .box-info-body dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  width: 100%;
}

main #domain-box .box .box-info .box-info-body dl dt {
  float: left;
  clear: left;
  width: 160px;
  font-size: small;
}

main #domain-box .box .box-info .box-info-body dl dt::after {
  content: ":";
}

main #domain-box .box .box-info .box-info-body dl dd {
  font-size: small;
  margin: 0 0 0 80px;
  padding: 0 0 0.5em 0;
  font-weight: bold;
}

main #domain-box .box .box-footer {
  position: relative;
  display: block;
  height: 30px;
  width: 100%;
}

main #domain-box .box .box-footer .box-footer-icon {
  float: right;
  cursor: pointer;
}

main #domain-box .box .box-footer .box-footer-icon i {
  color: var(--red);
}

main .form-box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: var(--padding-m);
  background-color: var(--nav);
  height: 100%;
  width: 100%;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-top-color: #dfdfdf;
  border-right-color: #d8d8d8;
  border-bottom-color: #cbcbcb;
  border-left-color: #d8d8d8;
}

main .form-box form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

main .form-box form input {
  padding: 10px;
  border: none;
  border-radius: 4px;
}

main .form-box form input:focus {
  outline: none;
}

main #login-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 25vh;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  border: 1px solid #ccc;
  padding: var(--padding-m);
  border-radius: 5px;
  font-family: sans-serif;
  text-align: center;
  background-color: var(--beyaz);
  gap: 10px;
}

main #login-box h1 a {
  color: var(--header);
}

main #login-box h1 a:hover {
  color: var(--mavi);
}

main #login-box .data-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  width: 100%;
  margin: auto;
}

main #login-box .data-form form input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

main #login-box .data-form form input:focus {
  outline: none;
}

main #login-box .data-form form .gonder {
  cursor: pointer;
  color: white;
  background-color: var(--header);
  opacity: 0.8;
}

main #login-box .data-form form .gonder:hover {
  opacity: 1;
}

main #login-box .data-form form button {
  cursor: pointer;
  margin: auto;
  width: 100%;
  padding: 5px;
  margin: 10px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--mavi);
  color: white;
  border-radius: 4px;
  border: none;
}

main #login-box .register {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  font-size: small;
}

main #login-box .register span {
  font-weight: bolder;
  color: var(--mavi);
  cursor: pointer;
}

main #dashboard {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-top-color: #dfdfdf;
  border-right-color: #d8d8d8;
  border-left-color: #d8d8d8;
  border-bottom-color: #cbcbcb;
  border-radius: 4px;
}

main #dashboard .dash-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #dashboard .dash-wrapper .dash-box {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  gap: 10px;
  width: 100%;
  height: 60px;
  padding: 10px;
  color: var(--mavi);
}

main #dashboard .dash-wrapper .dash-box .dash-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 30px;
  font-size: 26px;
}

main #dashboard .dash-wrapper .dash-box .dash-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: small;
}

main #dashboard .dash-wrapper .dash-box .dash-body .dash-body-header {
  font-weight: bolder;
}

main #dashboard .dash-wrapper .dash-box:hover {
  background-color: var(--nav);
}

main #dashboard .dash-wrapper .dash-box + .dash-box {
  border-top: 1px solid var(--nav);
}

main #ayarlar .admin-box {
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-top-color: #dfdfdf;
  border-right-color: #d8d8d8;
  border-left-color: #d8d8d8;
  border-bottom-color: #cbcbcb;
}

main #ayarlar .admin-box form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

main #ayarlar .admin-box form .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

main #ayarlar .admin-box form .input-group label {
  width: 150px;
}

main #ayarlar .admin-box form .input-group input {
  width: 100%;
  padding: 12px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

main #ayarlar .admin-box form .input-group input:focus {
  outline: none;
}

main #ayarlar .admin-box form .duzenle {
  cursor: pointer;
}

main .duzenform {
  width: 100%;
  height: 100%;
  padding: var(--padding-m);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-top-color: #dfdfdf;
  border-right-color: #d8d8d8;
  border-left-color: #d8d8d8;
  border-bottom-color: #cbcbcb;
  margin-bottom: 20px;
  border-radius: 4px;
}

main .duzenform form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

main .duzenform form input {
  display: block;
  width: 100%;
  padding: 12px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

main .duzenform form input:focus {
  outline: none;
}

main .duzenform form select {
  display: block;
  width: 100%;
  padding: 12px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

main .duzenform form button {
  cursor: pointer;
  margin: auto;
  width: 100px;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--mavi);
  color: white;
  border-radius: 4px;
  border: none;
}

main #welcome .welcome-body {
  background-color: var(--beyaz);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: var(--padding-m);
  height: 100%;
  width: 100%;
  border-radius: 7px;
  border-width: 1px;
  border-style: solid;
  border-top-color: #dfdfdf;
  border-right-color: #d8d8d8;
  border-left-color: #d8d8d8;
  border-bottom-color: #cbcbcb;
}

main #welcome .welcome-body .domain-ekle {
  color: var(--mavi);
}

main #welcome .welcome-body div {
  text-align: center;
}

main #welcome .welcome-body ul {
  list-style-type: none;
  text-align: left;
}

main #user-box .user-box-header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 40px;
  text-align: right;
}

main #user-box .user-box-header button {
  cursor: pointer;
  margin: auto;
  width: 100px;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--basari);
  color: white;
  border-radius: 4px;
  border: none;
}

main #user-box .user-box-body {
  width: 100%;
  height: 100%;
  background-color: var(--beyaz);
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-top-color: #dfdfdf;
  border-right-color: #d8d8d8;
  border-left-color: #d8d8d8;
  border-bottom-color: #cbcbcb;
}

main #user-box .user-box-body table {
  width: 100%;
  border-collapse: collapse;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main #user-box .user-box-body table th {
  text-align: left;
}

main #user-box .user-box-body table tr {
  position: relative;
}

main #user-box .user-box-body table tr td {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  height: 100%;
  height: 40px;
}

main #user-box .user-box-body table tr td.td-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #user-box .user-box-body table tr td.td-body .td-name {
  font-size: 15px;
  color: var(--mavi);
  font-weight: 700;
}

main #user-box .user-box-body table tr td.td-body .td-mail {
  font-size: 12px;
  color: var(--muted);
}

main #user-box .user-box-body table tr td.td-box {
  cursor: pointer;
  text-align: center;
  width: 40px;
  background-color: var(--nav);
  color: var(--mavi);
}

main #user-box .user-box-body table tr td.td-box.user-ban:hover {
  color: var(--red);
}

main #user-box .user-box-body table tr td.td-box.user-duzenle:hover {
  color: var(--header);
}

main #user-box .user-box-body table tr td.td-box + .td-box {
  border-left: 1px solid #e7e7e7;
}

main #user-box .user-box-body table tr + tr {
  border-top: 1px solid #e7e7e7;
}

@media only screen and (max-width: 1000px) {
  header .p-header {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 5px;
  }
  header .p-header .p-logo h1 {
    font-size: 24px;
  }
  header nav {
    border-radius: 0;
  }
  header nav .m-menu {
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav ul {
    display: none;
  }
  main {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
  }
  main #info-box {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    grid-gap: 5px;
  }
  main #info-box .box {
    height: 74px;
  }
  main #domain-box .box-info .box-info-body {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main #domain-box .box-info .box-info-body dl dd {
    width: 50%;
  }
  main #domain-box .box-info .box-info-body dl dd {
    width: 50%;
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: #202124;
  font-family: "Noto Sans Myanmar UI",arial,sans-serif;
}

body .form-box-member {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: var(--padding-m);
  margin: auto;
  margin-top: calc(50vh - 200px);
  width: var(--container-s);
  height: 100%;
  border: 1px solid #dadce0;
  border-top-color: var(--mavi);
  border-top-width: 2px;
  border-radius: 8px;
}

body .form-box-member .form-box {
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .form-box-member .form-box .form-logo {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

body .form-box-member .form-box .form-description {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

body .form-box-member .form-box h1 {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=style.css.map */